# Go to https://bloque.run/api-keys for a new key / existing one
BLOQUE_API_KEY=blq_ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ01

# To use GPT Image v2 for image generation
OPENAI_API_KEY=sk-proj-abcdefghijklmnopqrstuvwxya0123456789abcdefghijklmnopqrstuvwxya0123456789
